<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SQL</title>
</head>
<body>
    <form action='dishing'>
        <button type='submit'>
            dishing
        </button>
    </form>
    <form action='index'>
        <button type='submit'>
            index
        </button>
    </form>
    <form action='sort'>
        <button type='submit'>
            sort
        </button>
    </form>
    <form action='insert'>
        <button type='submit'>
            insert
        </button>
    </form>
</body>
</html>